
.container {
  width: 375px;
  height: 667px;
  position: relative;
  background: white;
}

.gradient-box {
  width: 375px;
  height: 154px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #03D2D7 0%, #01ABB0 100%);
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.logo {
  width: 221px;
  height: 76px;
  left: 77px;
  top: 62px;
  position: absolute;
}

.description {
  width: 327px;
  height: 203px;
  left: 24px;
  top: 170px;
  position: absolute;
  text-align: justify;
  color: #404040;
  font-size: 14px;
  font-family: Inder;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}

.button-box {
  width: 327px;
  height: 58px;
  left: 24px;
  top: 463px;
  position: absolute;
}

.button-gradient {
  width: 327px;
  height: 58px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #03D2D7 0%, #01ABB0 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.button-text {
  width: 115px;
  height: 29px;
  left: 106px;
  top: 14px;
  position: absolute;
  text-align: center;
  color: #F6F6F6;
  font-size: 24px;
  font-family: Inder;
  font-weight: 400;
  text-transform: lowercase;
  word-wrap: break-word;
}

.presentation-box {
  width: 327px;
  height: 58px;
  left: 24px;
  top: 553px;
  position: absolute;
}

.presentation-gradient {
  width: 327px;
  height: 58px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #FFE600 0%, rgba(255, 168, 30, 0.96) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.presentation-text {
  width: 157px;
  height: 29px;
  left: 85px;
  top: 14px;
  position: absolute;
  text-align: center;
  color: #ffff;
  font-size: 24px;
  font-family: Inder;
  font-weight: 400;
  text-transform: lowercase;
  word-wrap: break-word;
}